.newToDoItem {
  border: 1px solid grey;
  border-radius: 8px;
  margin: 10px;
}

.newToDoItem__Text,
.newToDoItem__AddButton {
  display: inline-block;
}

.newToDoItem__Text {
  width: 80%;
  margin-left: 0.5rem;
}

.newToDoItem__Text input {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  margin: 16px auto;
}

.newToDoItem__AddButton {
  width: 15%;
  text-align: right;
}

.newToDoItem__AddButton input {
  height: 1.5rem;
  vertical-align: middle;
  margin: 0 10px;
}
