.itemList {
  border: 2px solid rgb(126, 125, 125);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 0 auto;
  width: 90%;
  background-color: white;
}

/* input {
    border: none;
    font-family: inherit;
    font-size: 1rem;
} */
