.toDoItem {
    /* text-align: right; */
    border-bottom: 2px solid grey;
}

.toDoItem p {
    text-align: left;
}

/* .toDoItem p,
.toDoItem button {
    display: inline-block;
} */

.toDoItem img {
    height: 1.5rem;
    text-align: right;
    margin: 0 10px;
    vertical-align: middle;
}

.toDoText,
.deleteToDoButton {
    display: inline-block;
    
}

.toDoText {
    width: 85%;

}

